{%extends 'base.html'%}
<!-- <form method="post">
    {% csrf_token %} 
    <input type="text"  name="username"/>
    <input type="password" name="password"/>
    <input type="submit" value="Login"/>

</form> -->
{% load static%}
{% block links%}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock%}
{% block content%}
<div class="container mdi">
    <form class="form-group lform p-5 h-50" method="post">
        {% csrf_token %} 
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="PassWord"/>
        <input type="submit" value="LOGIN"/>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="msgs" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
    
  
</div>

{% endblock %}